/**/

/* regular */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaRegular/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNovaRegular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* bold */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNovaBold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}